<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /setmenu/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule . /setmenu/index.html [L]
</IfModule>